
*{
margin: 0% auto;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}



#header{

  background-color: rgb(255, 0, 0);
  display: flex;
  height: 70px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}


#menu{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#menu a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  display: block;
  padding: .5rem;
}

#mobo-btn{
  display: none;
}

@media (max-width: 798px) {

#menu{
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: #e7e7e7;
  height: 0px;
  transition: .6S;
  z-index: 1000;
  visibility: hidden;
  overflow-y: hidden;
}
#nav.ativar #menu{
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;  
}
#menu a {
  padding: 1rem;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}
  #mobo-btn{
  gap: 5px;
  display: flex;
  padding: 5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}
#hamburger{
  width: 20px;
  border-top: 2px solid black;
}
#hamburger::after,#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}
#nav.ativar #hamburger{
  border-top-color: transparent;

}
#nav.ativar #hamburger::before {
  transform: rotate(135deg);
  
}

#nav.ativar #hamburger::after {
 transform: rotate(-135deg);
top: -7px;
}

}