

h1{
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(78, 0, 0);
}


container-principal{
    position: relative; 
}



h1{
  display: flex;
  align-self: center;
  justify-content: center;
}

.jogador{
  position: relative;

}

.jogador img:nth-child(1){
  margin-left: 410px;
  margin-top: 320px;
}

.jogador img{
  width: 220px;
  height: 220px;
  margin-left: 100px;
  margin-top: 200px;
  
}

.jogador img:nth-child(2){

   position: absolute;
    width: 50px;
    height: 50px;
    top: 161px;
    left: 422px; 
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
}

.jogador img:nth-child(3){
position: absolute;
width: 150px;
height: auto;
top: -5px;
left: -150px;
display: block;
 
}


